.header {
  display: flex;
  height: 6rem;
  padding: 0 .5em;
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 3em;
  cursor: pointer;
}

.logoImg {
  width: 96px;
  height: 100%;
}

.input, .button {
  align-self: center;
  height: 3em;
  padding: .8em .9em;
  border-radius: 4em;
  outline: 0;
}

.input {
  flex-basis: 100%;
  margin-right: .5em;
}

.button {
  flex-shrink: 0;
  border: 0;
  color: #fff;
  background-color: #8d6e63;
  cursor: pointer;
}

.button img {
  height: 100%;
}

@media screen and (min-width: 490px) and (max-width: 560px) {
  .logo {
    flex-basis: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .header { 
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding-bottom: 1.2em;
  }

  .logo {
    margin-right: 0;
  }

  .logoImg {
    width: 6rem;
    height: auto;
  }

  .input {
    flex-basis: auto;
  }
}