
.youtube {
  max-width: 1280px;
  margin: 0 auto;
  
}

.youtube header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  background-color: #000;
}

.youtube .logo {
  flex-basis: 120px;
  padding: 0 .8rem 0 2.4rem
}

.youtube .logo img {
  display: flex;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 1.2rem;
}

.search-input {
  width: 66%;
  height: 30px;
  padding-left: .6rem;
  box-sizing: border-box;
}

.search-button {
  width: 68px;
  height: 26px;
  margin: 0 0.8rem;
  border: 0;
  border-radius: 2px;
  color: #fff;
  background: #ec0a0a;
}


.video-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem 2rem;
}

.video-list li {
  cursor: pointer;
}

.video-img {
  display: block;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.video-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-desc {
  margin-top: .2rem;
}

.title {
  display: inline-block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  height: 2.4;
  font-size: 1.2rem;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channel-title {
  display: block;
  margin-top: .4rem;
}

.select-area {
  display: grid;
  grid-template-columns: 1fr 540px;
}

.rel-video-img {
  display: block;
  position: relative;
  padding-top: 50%;
  overflow: hidden;
}

.aside-video ul {
  display: grid;
  grid-gap: .6rem;
}

.aside-video ul li {
  display: grid;
  grid-template-columns: 180px 1fr;
  cursor: pointer;
}
.rel-video-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rel-video-info {
  padding-left: 1rem;
}